



h2{
    font-weight: bold;
    width: 100%;
    margin-bottom: 5%;
}
article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2%;
}
article button{
    border-radius: 3em;
    border: solid black 1px;
    width: 40%;
    padding: 1%;
    align-self: flex-start; 
}
article button:hover{
    color: white;
    background-color: rgb(59, 59, 59);
    transition: .2s;
    border: solid rgb(181, 181, 181) 1px;
}
/* //////////////////////////////
//////////// clicker //////////// 
///////////////////////////////// */
#seconddiv{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#clicker,#upgrade,#market{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 1%;
}
#clicker{
    width: 50%;
}
#clicker article{
    align-items: center;
    justify-content: left;
}
#clicker article button{
    width: 20%;
    margin-right: 2%;
}
#spanwallet{
    width: 98%;
    margin: 0 1%;
    display: flex;
    justify-content: end;
}
#clicker div,#upgrade div{
    width: 25%;
    margin-right: 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
#clicker div span{
    width: 100%;
    margin-bottom: 5%;
}

input[type="submit"]{
    margin-left: 20%;
    padding: 1% 2%;
}

#bot{
    width: 45%;
}

/* /////////////////////////////////////
//////////////// UPGRADE ///////////////
//////////////////////////////////////// */

#upgrade div{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}
#upgrade article{
    padding: 1% 0;
    width: 31%;
    display: flex;
    justify-content: left;
}
#upgrade article button{
    margin-top: 2%;
    width: 30%;
    margin-right: 2%;
}
#upgrade section p{
    font-size: 13px;
    width: 100%;
}
.bot-progress-container {
    width: 100%;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;
}

#bot-progress-bar {
    height: 100%;
    width: 0%;
    background-color: #4caf50;
    transition: width 0.1s linear;
}

#divbutton{
    width: 100%;
    padding-top: 2%;
}

#divbutton button{
    margin: 0 2%;
    padding: .3% .7%;
    border: solid black 1px;
    border-radius: 3em;
    cursor: pointer;
    width: 7%;
}
#divbutton button:hover{
    background-color: #1f1f1f;
    transition: .2s;
    color: white;
}